.DS_Store
xcuserdata/

#
# Xcode 5 introduced a new file type .xccheckout. This files contains VCS metadata
# and should therefore not be checked into the VCS.
# 
*.xccheckout

Podfile.lock
Pods/
Podfile

# Removes Pod WorkSpace
DACAdsSDK/DACAdsSDK-FBAudienceNetwork-Sample-ObjectiveC/DACAdsSDK-FBAudienceNetwork-Sample-ObjectiveC.xcworkspace
DACMASDK/DACMASDK-Brightcove-Sample-ObjC/DACMASDK-Brightcove-Sample-ObjC.xcworkspace
DACMASDK/DACMASDK-Brightcove-Sample-Swift/DACMASDK-Brightcove-Sample-Swift.xcworkspace